.header-image{
    width: 100%;
    height: 400px;
    margin-top: -2em;
    margin-bottom: 2em;
}

.person-wrapper {
    margin-bottom: 2em;
    margin-top: 2em;

}

.about-pic {
    width: 65%;
    border-radius: 50%;
}

h3 {
    margin-bottom: 1em;

}

.background {
    width: 100%;
    height: 300px;
    background-color: rgba(166, 164, 168, 0.205);
    margin-top: 2em;
    border-radius: 5px;
}