.header-image{
    width: 100%;
    height: 400px;
    margin-top: -2em;
    margin-bottom: 2em;
}

.centered {
    position: absolute;
    top: 35%;
    left: 40%;
    transform: translate(-50%, -50%);
    color: black;
  }

  .person-wrapper {
    margin-bottom: 2em;
}

.about-pic {
    width: 65%;
    border-radius: 50%;
}

h3 {
    margin-bottom: 1em;
}